body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.hero-section {
    position: relative;
    background: url('image/people.jpg') no-repeat center center/cover;
    height: 123vh;
    color: white;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: absolute;
    bottom: 17%;
    left: 0%;
    z-index: 1;
    text-align: left;
    max-width: 600px;
    font-family: 'Warnock Pro Bold Caption';
}

.hero-container {
    position: relative;
    height: 100%;
    padding: 0 5%;
    margin-left: 20px;
    max-width: 100%;
}

.hero-content h1 {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 1.2;
    white-space: normal;
    text-align: left;
    margin-bottom: 4.8rem;
    padding: 0%;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-custom {
    margin: 0.8rem;
    padding: 0.4rem 1.5rem;
    font-size: 1.3rem;
    border-radius: 15px;
    background-color: #6a1b9a;
    color: white;
    border: solid 2.5px white;
    font-family: 'Warnock Pro Bold Caption';
}

.btn-custom:hover {
    color: white;
}

.btn-group {
    position: absolute;
    top: 12%;
    right: 9%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-custom::after {
    content: '→';
    font-size: 18px;
    color: white;
    position: absolute;
    right: 20px;
    opacity: 0;
    transform: translateX(-10px);
    transition: background-color 0.4s ease, border-color 0.4s ease, transform 0.4s ease;
}

.btn-custom:hover::after {
    opacity: 1;
    transform: translateX(0);
}

.btn-custom:hover {
    border-color: white;
    padding: 0.4rem 2.4rem;
}

.course-conatiner {
    padding: 0px 110px 0px 110px;
}

.course-title-section {
    font-family: 'ATF Alternate Gothic ExtraCondensed Bold', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 2.9rem;
}

.course-link {
    color: #007bff;
    font-size: 0.7rem;
    float: right;
    padding: 2px 8px 2px 8px;
}

.course-link:hover {
    text-decoration: underline;
    background: rgb(219, 219, 219);
    padding: 2px 8px 2px 8px;
}

.course-link:hover:after {
    content: '→';
    transition: 0.6;
}

.card-img-top {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 20px 18px -10px rgba(0.3, 0, 0, 0.3);
    margin-top: 10px;
}

.course-card-title {
    font-family: 'ATF Alternate Gothic ExtraCondensed Bold', sans-serif;
    font-size: 0.8rem;
    margin-top: 0.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    font-weight: bold;
    white-space: pre-wrap;
}

@media (max-width: 767px) {
    .hero-section {
        height: 140vh;
    }
    .btn-group {
        top: 8%;
        margin-right: 110px;
    }
}

.why-us-section {
    padding: 60px 113px;
    background-color: #ffffff;
    border-radius: 8px;
}

.why-us-title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #6a1b9a;
    text-align: center;
    margin-bottom: 40px;
}

.why-us-text {
    margin-bottom: 90px;
}

.why-us-item-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #6a1b9a;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    display: inline-block;
}

.why-us-item-title::before,
.why-us-item-title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 1px;
    background-color: #000;
}

.why-us-item-title::before {
    left: -60px;
    margin-top: -1px;
}

.why-us-item-title::after {
    right: -60px;
    margin-top: -1px;
}

.why-us-image {
    width: 65%;
}

.why-us-text p {
    font-size: 0.9rem;
    text-align: left;
}

@media (max-width: 768px) {
    .why-us-section {
        padding: 30px 20px;
    }

    .why-us-title {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .why-us-text p {
        font-size: 0.85rem;
    }

    .why-us-item-title {
        font-size: 1.2rem;
        text-align: center;
        margin-left: 0;
    }

    .why-us-item-title::before,
    .why-us-item-title::after {
        display: none;
    }

    .why-us-image {
        width: 75%;
        margin-bottom: 20px;
    }

    .why-us-item {
        flex-direction: column;
    }

    .why-us-text {
        text-align: center;
        margin-bottom: 40px;
    }
}

.kerala {
    background-color: antiquewhite;
    width: 100%;
}

.what-we-do-section {
    background-color: #1a1919;
    z-index: 1;
    position: relative;
}

.what-we-do-section h5 {
    color: #9b9895;
    letter-spacing: 2px;
}

.what-we-do-section h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #a3773a;
}

.what-we-do-container {
    margin-bottom: 250px;
    padding: 50px 100px 50px 100px;
}

.assure-card {
    border: none;
    border-radius: 8px;
    color: #f8f9fa;
    text-align: center;
}

.assure-card h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #fafafa;
}

.assure-card p {
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: justify;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .what-we-do-container {
        padding: 0;
    }
}

.know section {
    z-index: 1;
    position: relative;
}

.section-wrapper {
    background-color: #f8f9fa;
}

.know-your-skill {
    background-color: #7b3f98;
    color: white;
    padding: 50px;
    border-radius: 10px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
}

.know-your-skill h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.know-your-skill p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 2;
}

.know-your-skill .btn {
    display: block;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}

.upcoming-events h3 {
    font-weight: bold;
    margin-top: 80px;
    color: #000000;
}

.upcoming-events .event {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.upcoming-events .event i {
    font-size: 20px;
    color: #7b3f98;
}

.upcoming-events .event span {
    color: #000000;
}

@media (max-width: 767px) {
    .upcoming-events {
        margin-left: 40px;
    }
}

.custom-container {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #6a1b9a;
    color: white;
    max-width: 80%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 0;
    overflow: hidden;
}

.mission-text {
    padding: 50px 100px;
    margin-top: 0;
}

.mission-text p {
    text-align: justify;
    line-height: 1.8;
    margin: 0;
}

@media (max-width: 767px) {
    .mission-text {
        padding: 0;
    }
    .custom-container {
        margin-top: 100px;
    }
}
